p {
  background-color: yellowgreen;
  text-align: center;
}

#firstname{
  background-color: royalblue;
  text-align: center;
}

.redtext{
  background-color: red;
  text-align: center;
}

/**{
  background-color: grey;
  text-align: center;
}*/

h1, h2, h3{
  background-color:green;
  text-align: center;
}

hr {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  border-top-style: dotted;
  border-color: cadetblue;
  width: 30%;
  border-width: 15px;
  }

    p{ 
      display: block;
      max-width: 500px;
      margin: auto;
      border: 3px solid burlywood;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: auto;
      margin-right: auto;
    }

ul{ 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul p{
  float: right;
}
a:hover {
    background-color: black;
    
}
* {
  margin : 0px;
  padding : 0px;
}

