/*p {
  background-color: yellowgreen;
  text-align: center;
}*/

#firstname{
  background-color: royalblue;
  text-align: center;
}

.redtext{
  background-color: red;
  text-align: center;
}

/**{
  background-color: grey;
  text-align: center;
}*/

h1, h2, h3, h4, h5, h6{
  background-color:green;
  text-align: center;
}

ul,li,image,p{
  display: block;
  max-width: 50%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

hr {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  border-top-style: dotted;
  border-color: cadetblue;
  width: 30%;
  border-width: 15px;
  }

    p{ 
      display: block;
      max-width: 500px;
      margin: auto;
      border: 3px solid burlywood;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: auto;
      margin-right: auto;
    }

ul{ 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.skill{
  display: block;
  max-width: 50%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  
}
ul p{
  float: right;
}
li a:hover {
    background-color: black;
    
}
* {
  margin : 0px;
  padding : 0px;
}
.navbar {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background-color: pink;
  position: sticky;
  top: 0px;
}

li{
float: left;  
}
body {
  background-color: bisque;
}
 
table,tr,td{
  border: 1px solid black;
 }
 table{
   max-width: 500px;
   margin: auto;
   border-collapse: collapse;
 }
 table head{
   background-color: rgb(36, 30, 31);
   color: white;
 }
 th,td{
   padding: 15px;
   text-align: center;
 }
 tr:hover{
   background-color: rgb(252, 250, 250);
 }
li{
  float: left; 
}
.footer{
  background-color: rgb(36, 30, 31);
  padding :10px;
  text-align: center;
  color: white;
  margin-top : 15px;
  position: fixed;
  left:0;
  bottom:0;
  width: 100px
}
.from-login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin-bottom: 100px;
}
input{
  width: 50%;
  padding: 10px 5px;
  margin: 5px 25%;
  box-sizing: border-box;
  text-decoration: none;
}
input [type="bottom"]
input [type="submit"]{
  background-color: brown;
  border:none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
p{
  background-color: orange;
}
.normal{
  width: 150px;
}
div .form-register{
  position: static;
  margin-bottom: 100px;
 
}
div .content-form{
  max-width: 70%;
  margin: auto;
}
h1 .register.html{
  margin-bottom: 34px;
}
div .from-login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin-bottom: 100px;
}

div .form-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}